.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .7rem var(--space-lg)!important;
  border-radius: var(--radius-md)!important;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition)!important;
  border: none;
  white-space: nowrap;
}

.btn-primary {
  background-color: var(--primary)!important;
  color: var(--white)!important;
  font-weight: 500;
}

.btn:hover{
  box-shadow: var(--shadow-sm);
}

.btn-primary:hover {
  background-color: var(--primary-hover)!important;
}

.btn-outline {
  background-color: transparent;
  color: var(--primary)!important;
  border: 2px solid var(--primary)!important;
}

.btn-outline:hover {
  background-color: rgba(37, 99, 235, 0.1);
}

.btn-outline-white {
  background-color: transparent;
  color: var(--dark)!important;
  border: 2px solid var(--medium-gray)!important;
}

.btn-outline-white:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding: var(--space-lg) var(--space-xl)!important;
  font-size: 1.1rem;
}
